:global(.code-header) {
    background-color: var(--color-background);

    padding: 0.5rem 1rem;

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    border-bottom: 2px dotted var(--color-border);

    display: flex;
    justify-content: space-between;

    & + pre {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    :global(.code-lang) {
        color: var(--color-code-text);
    }

    :global(.code-copy) {
        color: var(--color-code-text);
        background-color: transparent;

        width: 1rem;

        border: none;
        cursor: pointer;

        position: relative;

        &:global(.clicked)::after {
            content: "Copied!";

            background-color: var(--color-base);
            color: var(--color-text);

            padding: 0.25rem;
            border: 1px solid var(--color-border);
            border-radius: var(--border-radius);

            position: absolute;
            top: -0.125rem;
            left: -4rem;

            pointer-events: none;
        }
        

        &:hover {
            color: var(--color-accent);
        }
    }
}
