@use "./everforest.scss";

:root {
  --color-background: var(--ef-color-bg0);
  --color-surface: var(--ef-color-bg1);
  --color-text: var(--ef-color-fg);
  --color-accent: var(--ef-color-statusline1);
  --color-border: var(--ef-color-gray0);

  --font-serif: "Vollkorn Variable", serif;
  --font-mono: "Fira Mono", monospace;

  --width-content: 700px;
  --radius-border: 12px;

  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-serif);

  height: 100vh;
  font-size: 1.2rem;
  line-height: 1.5;
  scrollbar-gutter: stable;
}

:focus, :focus-visible {
  outline: revert;
}

a {
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.1rem;

  cursor: pointer;

  &:hover, &:focus {
    color: var(--color-accent);
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: -1rem;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

hr {
  margin: 1rem 0;

  width: 100%;

  border: thin solid var(--color-border);
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
