.frame {
    display: flex;

    .sidebar {
        background-color: var(--color-base);

        min-height: 100%;
        min-height: 100dvh;
        min-height: 100svh;

        margin-top: 4rem;

        &.left {
            display: flex;
            flex-direction: column;

            gap: 1rem;

            position: fixed;
            left: calc(50vw - 700px);

            .title {
                font-family: var(--header-font-family);
                font-size: 2rem;
                font-weight: bold;
            }
        }
    }

    .center {
        width: calc(750px + 2rem);
        min-height: 100%;
        min-height: 100dvh;
        min-height: 100svh;

        margin: 0 auto;
        padding: 0 1rem;

        background-color: var(--color-base);

        .pageTitle {
            margin-top: 4rem;
        }
    }
}
