@use "./themes/rose_pine.scss";
@use "./themes/prism_darkula.css";

:root {
    --trans-speed: 250ms;
    --shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 101%;

    font-family: -apple-system, BlinkMacSystemFont, "Inter", "IBM Plex Sans", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    background-color: var(--rp-base);
    color: var(--rp-text);
    transition: background-color var(--trans-speed) linear;
}

a {
    text-decoration: underline;
    color: var(--rp-text);
    font-size: 1rem;
    cursor: pointer;

    &:not(:hover).plain {
        text-decoration: none;
    }

    &:hover {
        color: var(--rp-foam);
    }
}

p, a, h1, h2, h3, h4, h5, h6, li, span {
    transition: color var(--trans-speed) linear;
}

.muted {
    color: var(--rp-muted);
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 1rem 0 0.5rem 0;
    color: var(--rp-love);
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0 0.5rem 0;
    color: var(--rp-rose);
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0 0.5rem 0;
    color: var(--rp-foam);
}

p, li {
    font-size: 1rem;
    line-height: 1.25rem;
}

ul {
    margin: 0.5rem 0;
    padding-left: 1.5rem;
}

article, section, footer {
    border-top: 2px solid var(--rp-overlay);
    transition: border-color var(--trans-speed) linear;
}

iframe, video {
    aspect-ratio: 16/9;
    height: auto;
    width: 100%;
}

pre {
    border-radius: 12px;
    background-color: var(--rp-overlay);
    transition: background-color var(--trans-speed) linear;

    code {
        font-size: 0.9rem;
    }
}

:not(pre) > code {
    border-radius: 4px;
    background-color: var(--rp-overlay);
    transition: background-color var(--trans-speed) linear;
    padding: 0 0.25rem;
    font-size: 0.9rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--rp-overlay);

    &, td, th {
        transition: border-color var(--trans-speed) linear;
    }

    td, th {
        border: 2px solid var(--rp-overlay);
    }

    td {
        padding: 0.25rem 0.5rem;
    }
}

